<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <h2 style="text-align: center; margin: 1rem;">Invoice Generator
    </h2>
    <form action="/invoice" method="post">
        <article style="max-width: 80%; margin: auto; padding: 1rem; border: 1px solid #ccc; border-radius: 8px;">
            <header>
                <h3 style="text-align: center;">Details</h3>
            </header>
            <input required type="text" id="companyName" placeholder="Company Name"
                style="width: 100%; margin-bottom: 1rem; padding: 0.5rem;">
            <input required type="text" id="billTo" placeholder="Bill To"
                style="width: 100%; margin-bottom: 1rem; padding: 0.5rem;">
            <input required type="number" id="phone" placeholder="Phone Number"
                style="width: 100%; margin-bottom: 1rem; padding: 0.5rem;">
            <input required type="number" id="salestax" placeholder="Sales Tax %"
                style="width: 100%; margin-bottom: 1rem; padding: 0.5rem;">
        </article>
        <article style="max-width: 80%; margin: auto; padding: 1rem; border: 1px solid #ccc; border-radius: 8px;">
            <header>
                <h3 style="text-align: center;">Items</h3>
            </header>
            <div>
                <button class="outline" id="addItem"
                    style="display:block; text-align: center; margin: 1rem; width: 100%; padding: 20px;">Add</button>
            </div>
            <div id="itemsContainer">
                <div class="itemRow" style="display: flex; gap: 1rem; margin-bottom: 1rem;">
                    <input required type="text" class="itemName item" placeholder="Item Name"
                        style="flex: 1; padding: 0.5rem;" aria-describedby="valid-helper">
                        <input required type="text" class="itemDesc item" placeholder="Description"
                            style="flex: 2; padding: 0.5rem;" aria-describedby="valid-helper">
                    <input required type="number" class="itemQty item" placeholder="Quantity"
                        style="flex: 1; padding: 0.5rem;" aria-describedby="valid-helper">
                    <input required type="number" class="itemPrice item" placeholder="Price"
                        style="flex: 1; padding: 0.5rem;" aria-describedby="valid-helper">
                </div>
            </div>
            <small id="error" class="pico-color-red-100" style="color: crimson; display: none;">
                Please provide Items
            </small>

        </article>
    </form>
    <button aria-busy="true" id="loader" class="outline contrast" style="display: none; width: 80%; margin: auto;">Please wait…</button>
    <hr>
<div class="group" style="width: 80%; margin: auto; display: flex; justify-content: space-between;">

    <button id="newinvoice" class="contrast outline" onclick="history.go(0)" style="display: block; flex: 1; margin: auto;  padding: 20px;">New Invoice</button>
    <button id="geninvoice" style="text-align: center; margin: 1rem; display: block; flex: 2; padding: 20px;">Generate
        Invoice</button>
</div>
</body>
<script>
    let items = [];
    document.getElementById("addItem").addEventListener("click", function () {
        event.preventDefault();
        const container = document.getElementById("itemsContainer");
        const newItemrow = document.createElement('div')
        newItemrow.style.display = 'flex'
        newItemrow.style.gap = '1rem'
        newItemrow.setAttribute("class", "itemRow")
        newItemrow.style.marginBottom = '1rem'
        newItemrow.innerHTML = `
            <input required type="text" class="itemName item" placeholder="Item Name" style="flex: 1; padding: 0.5rem;">
            <input required type="text" class="itemDesc item" placeholder="Description" style="flex: 2; padding: 0.5rem;">
            <input required type="number" class="itemQty item" placeholder="Quantity" style="flex: 1; padding: 0.5rem;">
            <input required type="number" class="itemPrice item" placeholder="Price" style="flex: 1; padding: 0.5rem;">
        `;
        container.appendChild(newItemrow);
    });

    document.getElementById("geninvoice").addEventListener("click", (e) => {
        e.preventDefault()
        Array.from(document.querySelectorAll("div.itemRow")).forEach(element => {
            const itemName = element.querySelector("input.itemName").value
            const itemDesc = element.querySelector("input.itemDesc").value
            const itemQty = element.querySelector("input.itemQty").value
            const itemPrice = element.querySelector("input.itemPrice").value
            obj = {
                item_name: itemName,
                item_desc: itemDesc,
                item_qty: parseInt(itemQty),
                item_price: parseFloat(itemPrice),
                line_total : (parseFloat(itemPrice)*parseInt(itemQty))
            }
            if (itemName.trim() != "" && itemDesc.trim() != "" && itemQty && itemPrice) {
                items.push(obj)
            } else {
                document.querySelectorAll('input').forEach((e) => {
                    if (e.value.trim() == "") {
                        e.setAttribute('aria-invalid', 'true')
                    } else {
                        e.setAttribute('aria-invalid', 'false')
                    }
                })
            }
        });
        if (items.length == 0) {
            document.getElementById("error").style.display = "block"
        } else {
            document.getElementById("error").style.display = 'none'
            document.getElementById("loader").style.display = 'block'
            const subtotalfunc = ()=> {
                let total = 0
                for(item of items){
                    total += item.line_total
                }
                return total
            }
            subtotal = subtotalfunc()
            const url = `${window.location.href}invoice`; // Replace with your API endpoint
            const dataToSend = {
                company_name: document.getElementById('companyName').value,
                bill_to: document.getElementById('billTo').value,
                phone : document.getElementById('phone').value,
                items: items,
                subtotal: subtotal,
                salestax: parseInt(document.getElementById('salestax').value),
                total: ((1+parseFloat(document.getElementById('salestax').value))*subtotal).toFixed(2)
            };
            
            fetch(url, {
                method: 'POST', // Specify the HTTP method
                headers: {
                    'Content-Type': 'application/json' // Indicate that the body is JSON
                },
                body: JSON.stringify(dataToSend) // Convert the JavaScript object to a JSON string
            })
            .then(response => {
                if (!response.ok) {
                    // Handle HTTP errors (e.g., 404, 500)
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json(); // Parse the JSON response
            })
            .then(data => {
                if(data.file_name){
                    window.location.href = `${window.location.href}download/${data.file_name}`
                    document.getElementById("loader").style.display = 'none'
                    document.getElementById("error").innerHTML = 'File Success'
                    document.getElementById("error").style.color = 'green'
                    
                } // Handle the successful response data
            })
            .catch(error => {
                document.getElementById("error").style.display = "block"
                document.getElementById("error").innerText = "Some error ocurred in server"
                document.getElementById("loader").innerHTML = 'Error Occured *_*'
            });
        }
    })
</script>

</html>